#login-window {
  display: grid;
  grid-template-rows: 60px 70px 40px;
  border-style: solid;
  border-color: gray;
  width: 300px;
  margin: auto;
  text-align: center;
}

#login-header {
  grid-row: 1;
}

#login-main {
  grid-row: 2;
}

#login-main-tbl {
  table-layout: auto;
  margin: auto;
}

#log-reg-pane {
  grid-row: 3;
  display: grid;
  grid-template-columns: 120px 120px;
  margin: auto;
  padding-bottom: 30px;
}

#login-btn {
  grid-column: 1;
}

#register-btn {
  grid-column: 2;
}

.log-reg-btn {
  width: 80px;
  height: 30px;
  margin: auto;
  text-align: center;
}

#main-window {
  width: 95vw;
  height: 95vh;
  display: grid;
  grid-template-columns: 30% 70%;
}

.sidebar {
  grid-column: 1;
  display: grid;
  grid-template-rows: 90% 10%;
  border-style: solid;
  border-color: green;
}

.sidebar-main {
  grid-row: 1;
}

/* Tab style partially adapted from https://www.w3schools.com/howto/howto_js_tabs.asp */

.sidebar-tab {
  grid-row: 2;
  border-style: solid;
  border-color: #555555;
  display: flex;
}

.tab-btn {
  flex-grow: 1;
  flex-basis: 0px;
  background-color: inherit;
  border-style: solid;
  border-color: #555555;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  word-wrap: break-word;
}

.tab-btn:hover {
  background-color: #dddddd;
}

.central-window {
  grid-column: 2;
  position: relative;
  border-style: solid;
  border-color: blue;
}

#logout-box {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 30px;
}

#logout-btn {
  background-color: #ff3333;
}

#logout-btn:hover {
  background-color: #ff6666;
}